/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: hsl(0, 0%, 13%);
  font-size: 100%; /* Komt overeen met 16px */
  line-height: 1.4;
}

::-moz-selection {
  background: hsl(213,92%,85%);
  text-shadow: none;
}

::selection {
  background: hsl(213,92%,85%);
  text-shadow: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/* ==========================================================================
    Your custom styles
    ========================================================================== */

:root {
  scroll-behavior: smooth;
}

h1 {
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 7.2rem;
  line-height: 1.2;
  margin-bottom: .5rem;
}

h2 {
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4.8rem;
  line-height: 1.2;
  margin-bottom: .5rem;
}

.hero h2 {
  font-family: serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 1.2;
  margin-bottom: .5rem;
}

main section {
  min-height: 90vh;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

/* Backgrounds */
.bg-red {
  background-color: hsl(0,100%,50%);
}
.bg-yellow {
  background-color: hsl(60,100%,50%);
}
.bg-black {
  background-color: hsl(0,0%,0%);
}
.bg-blue {
  background-color: hsl(240,100%,50%);
}

/* Sticky header */
.sticky-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: hsl(0, 0%, 13%);
  color: hsl(0,0%,100%);

  position: sticky;
  top: 0;
  left: 0;
  padding: 1.5rem;
}

/* Hamburger menu */
.hamburger {
  position: relative;
  border: none;
  background: none;
  cursor: pointer;
}

.hamburger img {
  height: 1.3rem;
  width: auto;
}

.hamburger-close {
  display: none;
}

.mobile-menu-active .hamburger-close {
  display: block;
}

.mobile-menu-active .hamburger-open {
  display: none;
}

@media only screen and (min-width: 900px) {
  .hamburger {
    display: none;
  }
}

/* Navigation */
.nav {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding-left: 0;
}

.nav-item {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.nav-link {
  color: hsl(0,0%,100%);
  text-align: center;
  display: inline-block;
  font-weight: 400;
  font-size: 1rem;
}

.nav-link:hover {
  text-decoration: none;
}

@media only screen and (max-width: 900px) {
  .nav-holder {
    display: none;
  }

  .nav {
    flex-direction: column;
    min-height: 100vh;
  }

  .nav-link {
    color: hsl(0,0%,100%);
    text-transform: uppercase;
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: .5rem;
    text-decoration: none;
  }

  .mobile-menu-active {
    overflow: hidden;
  }

  .mobile-menu-active .nav-holder {
    display: block;
    position: fixed;
    min-height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: red;
  }
}


@media only screen and (min-width: 900px) {
  .nav-holder {
    display: block;
  }

  .nav {
    flex-direction: row;
  }
}

/* Footer */
footer.footer {
  background-color: hsl(0, 0%, 13%);
  color: hsl(0,0%,100%);
  padding: 1rem;
}

.footer-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer-grid .copyright {
  text-align: right;
}

/* ==========================================================================
    Helper classes
    ========================================================================== */

.wrap {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 0 1.5rem;
}

/*
  * Hide visually and from screen readers
  */

.hidden,
[hidden] {
  display: none !important;
}

/*
  * Hide visually and from screen readers, but maintain layout
  */

.invisible {
  visibility: hidden;
}

/* ==========================================================================
    Media Queries
    ========================================================================== */

@media only screen and (min-width: 720px) {
  .grid {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 -1rem;
  }

  .grid .col-4 {
    width: 33.33333%;
    padding: 1rem;
  }

  .grid .col-6 {
    width: 50%;
    padding: 1rem;
  }
}
