/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
	color: #222;
	font-size: 1em;
	line-height: 1.4;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

:root {
  scroll-behavior: smooth;
}   

.alfa-slab-one-regular {
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
}

h1{
	font-family: "Alfa Slab One", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 7.2em;	
  line-height: 1.2;
  margin-bottom: .5em;
}

h2{
	font-family: "Alfa Slab One", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 4.8em;	
  line-height: 1.2;
  margin-bottom: .5em;
}

main section{
  min-height: 90vh;
}

main section{
  min-height: 90vh;
  padding-top: 100px;
}

footer.footer{
  min-height: 30vh;
  background-color: #222;
  color: white;
}

.bg-red{
  background-color: red;
}
.bg-yellow{
  background-color: yellow;
}
.bg-black{
  background-color: black;
}
.bg-blue{
  background-color: blue;
}

.sticky-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: #222;
  color: white;
  
  position: sticky;
  top: 0;
  left: 0;
  padding: 20px;
}

.sticky-header ul.nav{
  display: none;
  list-style: none;
}

.sticky-header ul.nav a{
  display: inline-block;
  padding: 20px;
  color: white;
}

.sticky-header ul.nav a:hover{
  text-decoration: none;
}

.hamburger{
  height: 20px;
  width: auto;
  cursor: pointer;
}

body.mobile-menu-active{
  background-color: red;
}

.mobile-menu {
  display: block;
  width: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: red;
 
}
.mobile-menu .close{
  position: absolute;
  right: 20px;
  top: 20px;
  height: 24px;
  width: auto;
  cursor: pointer;
}

.mobile-menu{
  display: none;
}

.mobile-menu-active .mobile-menu{
  display: block;
}

.mobile-menu-active .mobile-menu nav{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.mobile-menu nav li{
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.mobile-menu nav li a{
  color: white;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
	font-family: "Alfa Slab One", serif;
	font-weight: 400;
	font-style: normal;
  font-size: 2em;
  line-height: 1.5;
  margin-bottom: .5em;
  text-decoration: none;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.wrap{
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
}

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
	display: none !important;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
	visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
	content: "";
	display: table;
}

.clearfix::after {
	clear: both;
}

/* ==========================================================================
   Media Queries 
   ========================================================================== */

@media only screen and (min-width: 900px) {

  /* Style adjustments for viewports that meet the condition */

  .sticky-header {
    padding: 0 20px;
  }

  .sticky-header ul.nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .hamburger{
    display: none;
  }

  .mobile-menu-active .mobile-menu{
    display: none;
  }

}